[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"
pydantic = "*"
parse-web-python = {editable = true, path = "."}
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "python src/app.py main"
test = "python src/app.py test"
dev = "python src/app.py dev"
setup = "python setup"
